body {
    background-color: #F8F8FF;
}


#sort{ 
    margin-left: 10px;
    margin-top: 0px;
    width: 200px;
    height: 45px;   
    color: white;
}

#alp{ 
    margin-left: 10px;
    margin-top: 0px;
    width: 200px;
    height: 45px;   
    color: white;
}

#asc{ 
    margin-left: 10px;
    margin-top: 0px;
    width: 200px;
    height: 45px;   
    color: white;
}
#desc{ 
    margin-left: 10px;
    margin-top: 0px;
    width: 200px;
    height: 45px;   
    color: white;
}


#filter{ 
    margin-left: 100px;
    margin-top: 0px;
    width: 200px;
    height: 45px;   
    color: white;
}

#ten{ 
    margin-left: 10px;
    margin-top: 0px;
    width: 200px;
    height: 45px;   
    color: white;
}

#all{ 
    margin-left: 10px;
    margin-top: 0px;
    width: 200px;
    height: 45px;   
    color: white;
}

#tp{ 
    margin-left: 10px;
    margin-top: 0px;
    width: 200px;
    height: 45px;   
    color: white;
}

#bt{ 
    margin-left: 10px;
    margin-top: 0px;
    width: 200px;
    height: 45px;   
    color: white;
}


}
